* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {
    background-color: #EEEEEE; /* Light gray */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(18, 74, 100);
}

.container {
    background-color: #222831; /* Dark gray container */
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 500px;
    position: relative;
    color: #EEEEEE;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #00ADB5; /* Teal heading */
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #EEEEEE;
}

input, textarea {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #393E46; /* Gray border */
    outline: none;
    font-size: 16px;
    background-color: #393E46; /* Gray input background */
    color: #EEEEEE;
}

textarea {
    resize: none;
    height: 80px;
}

input:focus, textarea:focus {
    border-color: #00ADB5; /* Teal on focus */
    box-shadow: 0 0 5px rgba(0, 173, 181, 0.5);
}

.error {
    color: #FF2E63; /* Red error message */
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

button.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #00ADB5, #00ADB5, #00ADB5);
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

button.btn:hover {
    transform: scale(1.05);
    background: #00ADB5;
}

.success-message {
    display: none;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    background: #38f608;
    color:whitesmoke;
    font-weight: bold;
    border-radius: 10px;
    animation: fadeIn 1s ;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px);}
    to { opacity: 1; transform: translateY(0);}
}


@media (max-width: 480px) {
    .container {
        padding: 25px 20px;
    }
}
